* text eol=lf

# source code
*.js text
*.mjs text
*.ts text
*.tsx text
*.htm text
*.html text
*.css text
*.json text
*.md text
*.txt text

# Binary (to be untouched)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.pyc binary
*.pdf binary
